<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/match_id.css" type="text/css" />
    <link rel="stylesheet" href="/styles/finished_game.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <% include ./partials/_header %>
    <div class='container'>

      <div class='turn_row'>

      <div class='turn'>
      <p>Turn 1</p>
      <div class='cards'>
        <div class ='card'>
          <img src="/images/<%= p1_t1 %>H.png" alt='<%= p1_t1 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= pz_t1 %>D.png" alt='<%= pz_t1 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= p2_t1 %>S.png" alt='<%= p2_t1 %>' class='summary_img'>
        </div>
      </div>
      </div>

      <div class='turn'>
      <p>Turn 2</p>
      <div class='cards'>
        <div class ='card'>
          <img src="/images/<%= p1_t2 %>H.png" alt='<%= p2_t2 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= pz_t2 %>D.png" alt='<%= pz_t2 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= p2_t2 %>S.png" alt='<%= p2_t2 %>' class='summary_img'>
        </div>
      </div>
      </div>

      <div class='turn'>
      <p>Turn 3</p>
      <div class='cards'>
        <div class ='card'>
          <img src="/images/<%= p1_t3 %>H.png" alt='<%= p1_t3 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= pz_t3 %>D.png" alt='<%= pz_t3 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= p2_t3 %>S.png" alt='<%= p2_t3 %>' class='summary_img'>
        </div>
      </div>
      </div>

     <div class='turn'>
      <p>Turn 4</p>
      <div class='cards'>
        <div class ='card'>
          <img src="/images/<%= p1_t4 %>H.png" alt='<%= p1_t4 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= pz_t4 %>D.png" alt='<%= pz_t4 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= p2_t4 %>S.png" alt='<%= p2_t4 %>' class='summary_img'>
        </div>
      </div>
      </div>

      <div class='turn'>
      <p>Turn 5</p>
      <div class='cards'>
        <div class ='card'>
          <img src="/images/<%= p1_t5 %>H.png" alt='<%= p1_t5 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= pz_t5 %>D.png" alt='<%= pz_t5 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= p2_t5 %>S.png" alt='<%= p2_t5 %>' class='summary_img'>
        </div>
      </div>
      </div>

    </div>

    <div class='turn_row'>

      <div class='turn'>
      <p>Turn 6</p>
      <div class='cards'>
        <div class ='card'>
          <img src="/images/<%= p1_t6 %>H.png" alt='<%= p1_t6 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= pz_t6 %>D.png" alt='<%= pz_t6 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= p2_t6 %>S.png" alt='<%= p2_t6 %>' class='summary_img'>
        </div>
      </div>
      </div>

      <div class='turn'>
      <p>Turn 7</p>
      <div class='cards'>
        <div class ='card'>
          <img src="/images/<%= p1_t7 %>H.png" alt='<%= p1_t7 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= pz_t7 %>D.png" alt='<%= pz_t7 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= p2_t7 %>S.png" alt='<%= p2_t7 %>' class='summary_img'>
        </div>
      </div>
      </div>

      <div class='turn'>
      <p>Turn 8</p>
      <div class='cards'>
        <div class ='card'>
          <img src="/images/<%= p1_t8 %>H.png" alt='<%= p1_t8 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= pz_t8 %>D.png" alt='<%= pz_t8 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= p2_t8 %>S.png" alt='<%= p2_t8 %>' class='summary_img'>
        </div>
      </div>
      </div>

      <div class='turn'>
      <p>Turn 9</p>
      <div class='cards'>
        <div class ='card'>
          <img src="/images/<%= p1_t9 %>H.png" alt='<%= p1_t9 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= pz_t9 %>D.png" alt='<%= pz_t9 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= p2_t9 %>S.png" alt='<%= p2_t9 %>' class='summary_img'>
        </div>
      </div>
      </div>

      <div class='turn'>
      <p>Turn 10</p>
      <div class='cards'>
        <div class ='card'>
          <img src="/images/<%= p1_t10 %>H.png" alt='<%= p1_t10 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= pz_t10 %>D.png" alt='<%= pz_t10 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= p2_t10 %>S.png" alt='<%= p2_t10 %>' class='summary_img'>
        </div>
      </div>
      </div>

    </div>

    <div class='turn_row'>

      <div class='turn'>
      <p>Turn 11</p>
      <div class='cards'>
        <div class ='card'>
          <img src="/images/<%= p1_t11 %>H.png" alt='<%= p1_t11 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= pz_t11 %>D.png" alt='<%= pz_t11 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= p2_t11 %>S.png" alt='<%= p2_t11 %>' class='summary_img'>
        </div>
      </div>
      </div>

      <div class='turn'>
      <p>Turn 12</p>
      <div class='cards'>
        <div class ='card'>
          <img src="/images/<%= p1_t12 %>H.png" alt='<%= p1_t12 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= pz_t12 %>D.png" alt='<%= pz_t12 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= p2_t12 %>S.png" alt='<%= p2_t12 %>' class='summary_img'>
        </div>
      </div>
      </div>

      <div class='turn'>
      <p>Turn 13</p>
      <div class='cards'>
        <div class ='card'>
          <img src="/images/<%= p1_t13 %>H.png" alt='<%= p1_t13 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= pz_t13 %>D.png" alt='<%= pz_t13 %>' class='summary_img'>
        </div>
        <div class ='card'>
          <img src="/images/<%= p2_t13 %>S.png" alt='<%= p2_t13 %>' class='summary_img'>
        </div>
      </div>
      </div>


    </div>

    </div>
  </body>
</html>
