<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/match_id.css" type="text/css" />

    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript">
      function autoFill(card) {
        let elems = document.querySelectorAll(".hand_card");
        elems.forEach.call(elems, function(el) {
            el.classList.remove("selected");
        });
        document.getElementById('selected_card').value = card;
        document.getElementById(card).classList.add('selected')
      }
    </script>
  </head>

  <body>
    <% include ./partials/_header %>
    <div class='game_board'>
      <div class='opponet'>
        <div class='opponent_hand'>
          <% for (i = 0; i < opponent_hand_size; i++) { %>
            <article class='face_down bid'>
              <img src="/images/0H.png" class='card_img'>
            </article>
          <% } %>
        </div>
        <p class='name'><%= opponent_name %> <%= opponent_ranking %></p>
        <h3 class='points'> Score: <%= opponent_points %></h3>
      </div>

      <div class='prize_and_bids'>
        <div class='deck card'>
          <% if (cards_left_deck) { %>
              <article class='face_down bid'>
                <img src="/images/0H.png" class='card_img'>
              </article>
            <% } %>
        </div>
        <div class='prize card'>
          <% if (prize) { %>
              <article class='face_up bid'>
                <img src="/images/<%= prize %>D.png" alt='<%= prize %>' class='card_img'>
              </article>
            <% } %>
        </div>
        <div =class='bids'>
          <div class='opponent_bid card'>
            <% if (opponent_bid) { %>
              <article class='face_down bid'>
                <img src="/images/0H.png" class='card_img'>
              </article>
            <% } %>
          </div>
          <div class ='player_bid card'>
            <% if (player_bid) { %>
              <article class='face_up bid'>
                <img src="/images/<%= player_bid %>H.png" alt='<%= player_bid %>' class='card_img'>
              </article>
            <% } %>
          </div>
        </div>
        <div class='last_turn'>
            <% if (last_prize) { %>
              <article class ='face_up last'>
                <img src="/images/<%= opponent_last_card %>S.png" alt='<%= opponent_last_card %>' class='card_img'>
              </article>
              <article class ='face_up last'>
                <img src="/images/<%= last_prize %>D.png" alt='<%= last_prize %>' class='card_img'>
              </article>
              <article class ='face_up last'>
                <img src="/images/<%= player_last_card %>H.png" alt='<%= player_last_card %>' class='card_img'>
              </article>
            <% } %>
          </div>
     </div>
     <div class='player'>
      <h3 class='points'> Score: <%= player_points %></h3>
      <p class='name'><%= user %> <%= player_ranking %></p>
      <div class='player_area'>
        <div class='player_hand'>
          <% for (card in player_hand) { %>
            <a href='#' class='face_up hand_card' id='<%= player_hand[card].id %>' onclick="autoFill(<%= player_hand[card].id %>); return true;">
              <img src="/images/<%= player_hand[card].value %>H.png" alt='<%= player_hand[card].value %>' class='card_img'>
            </a>
          <% } %>
        </div>
        <div class='submit'>
          <form class='card_select_form' method='POST' action="/match/<%= gameId %>" >
            <input type="text" id="selected_card" name="card">
            <button type="submit"> OK </button>
        </form>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
