<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/form_body.css" type="text/css" />
     <link rel="stylesheet" href="/styles/body.css" type="text/css" />
     <link rel='stylesheet' href='/styles/user_id.css' type='text/css' />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
<header>
  <% include ./partials/_header %>
</header>
  <div class="container p-5 mt-5">
    <div class="row">
<% if (data.length != 0) { %>
      <div class="col-md-4">
        <h3>Active Games</h3> <br>
          <% const stateClass = {PLAY: 'alert alert-success alert-dismissible fade show text-success', WAIT: 'alert alert-warning alert-dismissible fade show text-warning'}%>
          <% for(let key in data){ %>
              <% if(data[key].game_state_id != 4) {%>
                  <% let opponent = data[key].name1 %>
                  <% let state = 'PLAY' %>
                  <% if(userid == data[key].id1) { %>
                    <% opponent = data[key].name2 %>
                    <% if (data[key].game_state_id == 2 || !opponent) {%>
                       <% state = 'WAIT' %>
                      <% } %>
                  <%}else {%>
                  <% if (data[key].game_state_id == 1) {%>
                    <% state = 'WAIT' %>
                  <% } %>
                <% } %>%>
                <div class="p-2 mr-2 <%= stateClass[state]%>" >
                    <a class ="alert-link" href="/match/<%= data[key].id%> ">  Goofspiel vs <%= opponent %></a> - <%= state%>
                </div>
              <%}%>
          <% } %>
        </div>
      <div class="col-md-4">
        <h3>Archived Games</h3> <br>
        <% const resultClass = { 'WIN' : 'alert alert-primary', 'LOST' :'alert alert-dark'} %>

        <% const classWin=['alert alert-secondary', 'alert alert-dark'] %>
          <% for(let key in data){ %>
            <% let opponent = data[key].name1 %>
            <%let points_user = data[key].player2_points %>
            <%let points_opponent = data[key].player1_points %>
              <% if(userid == data[key].id1) {  %>
                <% opponent = data[key].name2 %>
                <% points_user = data[key].player1_points %>
                <% points_opponent = data[key].player2_points %>
              <% } %>
              <% if(data[key].game_state_id == 4) {  %>
                <% let result = 'WIN'%>
                <%if(points_opponent > points_user) {%>
                  <%result = 'LOST'%>
                <%}%>

                  <div class="p-2 <%= resultClass[result]%>">
                  <a class ="alert-link" href="/match/<%= data[key].id%> ">  Goofspiel vs <%= opponent %></a> - <%= result %></div>

              <% } %>
          <% }; %>

      </div>
      <% } else { %>
      <div class="col-md-8">
        <h2>Click New Game to start playing</h2>
      </div>
      <% } %>

      <% if(userid == session) {%>

        <div class="col-md-4 ">

            <h3>New Game</h3>
            <form method="POST" action="/newgame">
              <button type="submit" class="btn btn-info btn-lg btn-block btn-sm">Goofspiel - Rank:  <%= userRank %></button>
            </form>
            <button type="button" class="btn btn-info btn-lg btn-block btn-sm">Poker - Your Rank: 0</button>
            <button type="button" class="btn btn-info btn-lg btn-block btn-sm">Rummy - Your Rank: 0</button>
            <button type="button" class="btn btn-info btn-lg btn-block btn-sm">Solitaire - Your Rank: 0</button>
            <button type="button" class="btn btn-info btn-lg btn-block btn-sm">Poker 0</button>
        </div>

      <% }%>



    </div>

  </div>


  </body>


</html>
