<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/form_body.css" type="text/css" />
     <link rel="stylesheet" href="/styles/body.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
<header>
  <% include ./partials/_header %>
</header>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Active Games</h3> <br>
          <% const state = ['Wait P1','Wait P2', 'Active','Inactive']%>
          <% const classes = ['alert alert-warning alert-dismissible fade show text-warning','alert alert-info alert-dismissible fade show text-info', 'alert alert-success alert-dismissible fade show text-success','alert alert-danger alert-dismissible fade show text-danger']%>
            <% for(let key in data){ %>
             <!--  <% let opponent = data[key].name1 %>
              <% if(userid == data[key].id1) {  %>
                <% opponent = data[key].name2%>
              <% } %> -->
              <% if(data[key].game_state_id != 4) {  %>
                <% if(userid == data[key].id1) { %>
                  <div class="p-2 <%= classes[data[key].game_state_id - 1]%>  mr-2" >
                  <a class ="alert-link" href="/match/<%= data[key].id%> ">  Goofspiel vs <%= opponent %></a>
                  <%= state[data[key].game_state_id - 1] %>
                </div>
                <% } %>
              <% } %>
            <% }; %>
      </div>
      <div class="col-md-4">
        <h3>Archived Games</h3> <br>
        <% const resultClass = { 'WIN' : 'alert alert-primary', 'LOSS' :'alert alert-dark'} %>

        <% const classWin=['alert alert-secondary', 'alert alert-dark'] %>
          <% for(let key in data){ %>
            <% let opponent = data[key].name1 %>
            <%let points_user = data[key].player2_points %>
            <%let points_opponent = data[key].player1_points %>
              <% if(userid == data[key].id1) {  %>
                <% opponent = data[key].name2 %>
                <% points_user = data[key].player1_points %>
                <% points_opponent = data[key].player2_points %>
              <% } %>
              <% if(data[key].game_state_id == 4) {  %>
                <% let result = 'WIN'%>
                <%if(points_opponent > points_user) {%>
                  <%result = 'LOSS'%>
                <%}%>
                  <div class="p-2 <%= resultClass[result]%>"> Goofspiel vs <%= opponent %> - <%= result %></div>
              <% } %>
          <% }; %>

      </div>

        <div class="col-md-4 pull-right ">

            <h3>New Game</h3>
            <button type="button" class="btn btn-info btn-lg btn-block btn-sm">Goofspiel - Rank:  <%= userRank %></button>
            <button type="button" class="btn btn-info btn-lg btn-block btn-sm">Poker - Your Rank: 0</button>
            <button type="button" class="btn btn-info btn-lg btn-block btn-sm">Rummy - Your Rank: 0</button>
            <button type="button" class="btn btn-info btn-lg btn-block btn-sm">Solitaire - Your Rank: 0</button>
            <button type="button" class="btn btn-info btn-lg btn-block btn-sm">Poker 0</button>
        </div>

    </div>

  </div>


  </body>


</html>
