<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/form_body.css" type="text/css" />
     <link rel="stylesheet" href="/styles/body.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <% include ./partials/_header %>
    </header>



    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <% if(!urls){ %>
      <h1> No urls for this user </h1>


    <% } %>
    <% for(let keys in urls){ %>

      <form method="POST" action="/urls/<%= keys %>/delete">
        <li>
          <a href="<%= urls[keys].longURL %>"><%= keys %></a>  -  <%= urls[keys].longURL %>
          <a href="/urls/<%= keys %>">Edit</a>
          <button type="Edit" class="btn btn-primary">Delete</button>

      </form>
    </li>
    <% }; %>
          <h3>Active Games</h3> <br>
            <% if(user === null){ %>
          <h1> No Active Game </h1>
            <% } %>
          <form method="POST" action="/<%= user %>">
              <li>
          <a href="<%= urls[keys].longURL %>"><%= keys %></a>  -  <%= urls[keys].longURL %>
          <a href="/urls/<%= keys %>">Edit</a>
          <button type="Edit" class="btn btn-primary">Delete</button>

          </form>
              </li>


            <div class="p-2">Flex item 1</div>
            <div class="p-2">Flex item 2</div>
            <div class="p-2">Flex item 3</div>
            <div class="p-2">Flex item 4</div>
            <div class="p-2">Flex item 5</div>
            <div class="p-2">Flex item 6</div>
            <div class="p-2">Flex item 7</div>
            <div class="p-2">Flex item 8</div>
            <div class="p-2">Flex item 9</div>
        </div>
        <div class="col-md-4">
           <h3>Archived Games</h3> <br>
            <div class="p-2">Flex item 1</div>
            <div class="p-2">Flex item 2</div>
            <div class="p-2">Flex item 3</div>
            <div class="p-2">Flex item 4</div>
            <div class="p-2">Flex item 5</div>
            <div class="p-2">Flex item 6</div>
            <div class="p-2">Flex item 7</div>
            <div class="p-2">Flex item 8</div>
            <div class="p-2">Flex item 9</div>
        </div>

        <div class="col-md-4 pull-right">
            <h3>Buttons</h3> <br>
            <button type="button" class="btn btn-primary btn-lg btn-block btn-sm">Goofspiel [Ranking]</button>
            <button type="button" class="btn btn-primary btn-lg btn-block btn-sm">Poker [Ranking]</button>
            <button type="button" class="btn btn-primary btn-lg btn-block btn-sm">Rummy [Ranking]</button>
            <button type="button" class="btn btn-primary btn-lg btn-block btn-sm">Solitaire [Ranking]</button>
            <button type="button" class="btn btn-primary btn-lg btn-block btn-sm">Poker [Ranking]</button>
        </div>

      </div>
    </div>

  </body>
</html>
